@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 600px;
    text-align: center;
    margin: auto auto 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.deid-chart {
    margin: auto;
    width: 700px;
    height: 500px;
}