@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 600px;
    text-align: center;
    margin: auto auto 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.deid-chart {
    margin: auto;
    width: 700px;
    height: 500px;
}

.cursor-text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    fill: black;
}
.cursor-background {
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the alpha value (0.5 in this example) for the desired opacity */
    padding: 2px; /* Add some padding to give space around the text */
}